@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
body {
  font-family: 'Menlo', sans-serif;
  margin: 0;
  background-color: #0e0a1c;
}
.bg-hero::before {
  background-repeat: repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: calc(100vh * 2.2);
  background-image: url('../src/pictures/stars.png');
  opacity: 0.2;
  z-index: -1;
}
::selection {
  background-color: #a2eeac;
}

.animate-pulse-slow {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}